<!DOCTYPE html>
<html>
    <head>
        <title>Consultation de l'élève</title>
    </head>
    <body>       
        <h5>PAGE DE CONSULTATION D'UN ELEVE</h5>

        <table>
            <tr><td>Id : </td><td>{{ eleve.id }} </td></tr>
            <tr><td>Nom : </td><td>{{ eleve.nom }}</td></tr>
            <tr><td>Prénom : </td><td>{{ eleve.prenom }}</td></tr>
            <tr><td>Numéro rue : </td><td>{{ eleve.numRue }}</td></tr>
            <tr><td>Rue : </td><td>{{ eleve.rue }}</td></tr>
            <tr><td>Code Postal : </td><td>{{ eleve.copos }}</td></tr>
            <tr><td>Ville : </td><td>{{ eleve.ville }}</td></tr>
            <tr><td>Téléphone :</td><td>{{ eleve.tel }}</td></tr>
            <tr><td>Email :</td><td>{{ eleve.mail }}</td></tr>
            <tr><td>Responsable :</td>
            <td>
                {% if eleve.responsable is not null and eleve.responsable.nom is not empty and eleve.responsable.prenom is not empty %}
                    {{ eleve.responsable.nom }} {{ eleve.responsable.prenom }}
                {% else %}
                    Aucun
                {% endif %}
            </td>
            </tr>
        </table>

                <h5>COURS AUXQUELS CET ELEVE EST INSCRIT :</h5>
        <table>
            <thead>
                <tr>
                    <th>Libellé</th>
                    <th>Professeur</th>
                    <th>Horaires</th>
                </tr>
            </thead>
            <tbody>
                {% for cours in coursInscrits %}
                    <tr>
                        <td>{{ cours.libelle }}</td>
                        <td>{{ cours.professeur.nom }}</td>
                        <td>{{ cours.heureDebut|date('H:i') }} - {{ cours.heureFin|date('H:i') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucun cours inscrit</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>

        <!-- Bouton pour accéder à la page d'inscription aux cours -->
        <form action="{{ path('app_inscription', { 'eleveId': eleve.id }) }}" method="get">
            <button type="submit">S'inscrire à un ou plusieurs cours</button>
        </form>
    </body>
</html>
