<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN ELEVE</h5>

    <table >
        <tr><td>Id : </td><td>{{eleve.id}} </td></tr>
        <tr><td>Nom : </td><td>{{eleve.nom}}</td>
        <tr><td>Prenom : </td><td>{{ eleve.prenom }}</td></tr></tr>
        <tr><td>Numéro rue : </td><td>{{ eleve.numRue }}</td></tr></tr>
        <tr><td>Rue : </td><td>{{ eleve.rue }}</td></tr></tr>
        <tr><td>Code Postal :</td><td>{{ eleve.copos }}</td></tr></tr>
        <tr><td>Ville :</td><td>{{ eleve.ville }}</td></tr></tr>
        <tr><td>Téléphone  :</td><td>{{ eleve.tel }}</td></tr></tr>
        <tr><td>Mail :</td><td>{{ eleve.mail }}</td></tr></tr>
    </table>
	
	 
    </body>
</html>