<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN CONTRAT DE PRET</h5>

    <table >
        <tr><td>Id : </td><td>{{contratPret.id}} </td></tr>
        <tr><td>Date d'emprunt : </td> <td>{{ contratPret.dateDebut|date('d-m-Y') }}</td>
        <tr><td>Date de retour prévus : </td><td>{{ contratPret.dateFin|date('d-m-Y') }}</td>
        <tr><td>Description : </td><td>{{contratPret.description}}</td>
        <tr><td>prix : </td><td>{{contratPret.prix}}</td>
        <tr><td>quotité : </td><td>{{contratPret.quotite}}</td>

    </table>
	<div class="bouton">
    <a href="{{ path('app_contratPret_lister') }}" style="
        display: inline-block;
        background-color: black;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;" >
        Retour a la liste
    </a>
</div>
	 
    </body>
</html>