{% extends 'accueil/accueil_admin.html.twig' %}

{% block title %}Bienvenue!{% endblock %}


{% block body %}
<div class="content">
    <h1 style="margin-left:30px;">LISTE DES CONTRATS PRÊTS</h1>
    <div class="bouton" style="float:right; margin-right:30px;">
        <a href="{{ path('app_contratPret_ajouter') }}" class="btn">Ajouter un contrat prêt</a>
    </div>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th class="table-header-cell">Id</th>
                <th class="table-header-cell">Prénom</th>
                <th class="table-header-cell">Nom</th>
                <th class="table-header-cell">Type d'instrument</th>
                <th class="table-header-cell">Numéro de série</th>
                <th class="table-header-cell">Description</th>
                <th class="table-header-cell">Prix (en euro)</th>
                <th class="table-header-cell">Quotité (en euro)</th>
                <th class="table-header-cell actions"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in pContratsPret %}
                <tr class="row">
                    <td><span class="block"><a href="{{ path('app_contratPret_consulter', { 'id': i.id }) }}" class="link">{{ i.id }}</a></span></td>
                    <td>{{ i.eleve.prenom }}</td>
                    <td>{{ i.eleve.nom }}</td>
                    <td><span class="underline">{{ i.instrument.TypeInstrument.libelle }}</span></td>
                    <td><span class="bold">{{ i.instrument.numSerie }}</span></td>
                    <td>{{ i.description }}</td>
                    <td><span class="green">{{ i.prix | number_format(2, '.', ',') }}</span></td>
                    <td>{{ i.quotite | number_format(2, '.', ',') }}</td>
                    <td class="actions">
                        <a href="{{ path('app_contratPret_modifier', { 'id': i.id }) }}" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-pencil">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 3l8 8-10 10H3v-8L13 3z"></path>
                            </svg>
                        </a>
                        <a href="{{ path('app_contratPret_supprimer', { 'id': i.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contrat ?');" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-trash">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 6h18M9 6V4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2M10 11v6M14 11v6M5 6l1 14h12l1-14"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% else %}
                <tr class="table-row">
                    <td class="table-cell" colspan="9">Aucun contrat n'a été trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
