{# templates/registration/register.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {# Affiche les erreurs du formulaire principal #}
    {{ form_errors(registrationForm) }}

    {# Démarre le formulaire #}
    {{ form_start(registrationForm) }}
    
        {# Champs pour l'utilisateur (User) #}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}


        {{ form_row(registrationForm.responsable.nom) }}
        {{ form_row(registrationForm.responsable.prenom) }}
        {{ form_row(registrationForm.responsable.tel) }}
        {{ form_row(registrationForm.responsable.numRue) }}
        {{ form_row(registrationForm.responsable.rue) }}
        {{ form_row(registrationForm.responsable.copos) }}
        {{ form_row(registrationForm.responsable.ville) }}

        {# Bouton pour soumettre le formulaire #}
        <button type="submit" class="btn btn-primary">Register</button>

    {{ form_end(registrationForm) }}
{% endblock %}
