<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN INSTRUMENT</h5>

    <table >
        <tr><td>Id : </td><td>{{instrument.id}} </td></tr>
        <tr><td>Numéro de Série : </td><td>{{instrument.numSerie}}</td>
        <tr><td>Date d'achat : </td><td>{{ formattedDate }}</td></tr></tr>
        <tr><td>Prix Achat(€) : </td><td>{{ instrument.prixAchat }}</td></tr></tr>
        <tr><td>Utilisation : </td><td>{{ instrument.utilisation }}</td></tr></tr>
        
        {# Affichage de l'image #}
            <tr><td>Image :</td>
                <td>
                    {% if instrument.cheminImage %}
                        <img src="{{ asset('images/' ~ instrument.cheminImage) }}" alt="Image de l'instrument" width="200" height="200">
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                </td>
            </tr>

        <tr><td>Type d'instrument :</td><td>{{ instrument.TypeInstrument.libelle }}</td></tr></tr>
    </table>
	
    </body>
</html>