{% extends 'accueil/accueil_uti.html.twig' %}

{% block body %}
<div class="content">
    <h1>Liste des Instruments</h1>
    <table>
        {% for i in pInstruments %}
            <tr>
                <td>
                    <a href="{{ path('app_instrument_consulter', { 'id': i.id }) }}">
                        {{ i.TypeInstrument.libelle }}
                    </a>
                </td>
                <td>-</td>
                <td>
                    <a href="{{ path('app_instrument_consulter', { 'id': i.id }) }}">
                        {{ i.NumSerie }}
                    </a>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_instrument_supprimer', { 'id': i.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet instrument ?');">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="black" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-trash">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 6h18M9 6V4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2M10 11v6M14 11v6M5 6l1 14h12l1-14"></path>
                            </svg>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('app_instrument_modifier', { 'id': i.id }) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="black" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-pencil">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 3l8 8-10 10H3v-8L13 3z"></path>
                            </svg>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun instrument n'a été trouvé.</td>
            </tr>
        {% endfor %}
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="bouton">
            <a href="{{ path('app_instrument_ajouter') }}">Ajouter un instrument</a>
        </div>
    {% endif %}
</div>
{% endblock %}
