{% extends 'accueil/accueil_uti.html.twig' %}

{% block body %}
<div class="content">
    <h1 style="margin-left:30px;">LISTE DES INSTRUMENTS</h1>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Type d'Instrument</th>
                <th>Numéro de Série</th>
                <th>Date d'Achat</th>
                <th>Prix d'Achat</th>
                <th>Modèle</th>
                <th>Marque</th>
                <th>Couleur</th>
            </tr>
        </thead>
        <tbody>
            {% for i in pInstruments %}
                <tr class="row">
                    <td>{{ i.TypeInstrument.libelle }}</td>
                    <td>
                        <span class="block">
                            <a href="{{ path('app_instrument_consulter', { 'id': i.id }) }}" class="instrument-link">
                                {{ i.NumSerie }}
                            </a>
                        </span>
                    </td>
                    <td><span class="bold">{{ i.dateAchat ? i.dateAchat|date('d/m/Y') : 'Non renseignée' }}</span></td>
                    <td><span class="green">{{ i.prixAchat ? i.prixAchat|number_format(2, '.', ',') : 'Non renseigné' }}</span></td>
                    <td><span class="underline">{{ i.modele.nom ? i.modele.nom : 'Non renseigné' }}</span></td>
                    <td>{{ i.marque.libelle ? i.marque.libelle : 'Non renseignée' }}</td>
                    <td>{{ i.couleur.libelle ? i.couleur.libelle : 'Non renseignée' }}
                    <td><span class="underline">{{ i.modele.nom ?? 'Non renseigné' }}</span></td>
                    <td><span class="underline">{{ i.marque.libelle ?? 'Non renseigné' }}</span></td>
                    <td><span class="underline">{{ i.couleur.libelle  ?? 'Non renseigné' }}</span></td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <div class="table-data-feature">
                                <div class="item">
                                    <a href="{{ path('app_instrument_modifier', { 'id': i.id }) }}" class="zmdi zmdi-edit"></a>
                                </div>
                                <div class="item">
                                    <a href="{{ path('app_instrument_supprimer', { 'id': i.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet instrument ?');" class="zmdi zmdi-delete"></a>
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                <tr class="spacer"></tr>
            {% else %}
                <tr>
                    <td colspan="7">Aucun instrument n'a été trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}