{% extends 'accueil/accueil_admin.html.twig' %}

{% block title %}Emusic - INTERVENTIONS{% endblock %}


{% block body %}
<div class="content">
    <h1 style="margin-left:30px;">LISTE DES INTERVENTIONS</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numéro de série</th>
                <th>Instrument</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Descriptif</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for it in pIntervention %}
                <tr class="row">
                    <td><span class="block">{{ it.id }}</a></span></td>
                    <td>{{ it.instrument.numSerie }}</td>
                    <td><span class="bold">{{ it.instrument.TypeInstrument.libelle }}</span></td>
                    <td>{{ it.dateDebut|date('d-m-Y') }}</td>
                    <td>{{ it.dateFin|date('d-m-Y') }}</td>
                    <td><span class="underline">{{ it.descriptif }}</span></td>
                    <td><span class="green">{{ it.prix }}</span></td>
                    <td class="actions">
                        <a href="{{ path('app_intervention_instrument_modifier', { 'id': it.id }) }}" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-pencil">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 3l8 8-10 10H3v-8L13 3z"></path>
                            </svg>
                        </a>
                        <a href="{{ path('app_intervention_instrument_supprimer', { 'id': it.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contrat ?');" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-trash">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 6h18M9 6V4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2M10 11v6M14 11v6M5 6l1 14h12l1-14"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune intervention n'a été trouvée.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}