{% extends 'accueil/accueil_admin.html.twig' %}

{% block title %}Emusic - PROFESSEURS{% endblock %}

{% block body %}
<div class="content">
    <h1 style="margin-left:30px;">LISTE DES PROFESSEURS</h1>
    <div class="bouton" style="float:right; margin-right:30px;">
        <a href="{{ path('app_professeur_ajouter') }}" class="btn">Ajouter un professeur</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for i in pProfesseurs %}
                <tr class="row">
                    <td>
                        <span class="block">
                            <a href="{{ path('app_professeur_consulter', { 'id': i.id }) }}" class="professeur-link">
                                {{ i.nom }}
                            </a>
                        </span>
                    </td>
                    <td>
                        <span class="underline">
                                {{ i.prenom }}
                        </span>
                    </td>
                    <td><span class="bold">{{ i.tel }}</span></td>
                    <td><span class="green">{{ i.mail }}</span></td>
                    <td class="actions" style="float:right;">
                        <a href="{{ path('app_professeur_modifier', { 'id': i.id }) }}" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-pencil">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13 3l8 8-10 10H3v-8L13 3z"></path>
                            </svg>
                        </a>
                        <a href="{{ path('app_professeur_supprimer', { 'id': i.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce contrat ?');" class="action-btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" viewBox="0 0 24 24" stroke-width="2" class="icon icon-tabler icon-tabler-trash">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3 6h18M9 6V4a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2v2M10 11v6M14 11v6M5 6l1 14h12l1-14"></path>
                            </svg>
                        </a>
                    </td>
                </tr>
                <tr class="spacer"></tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun professeur n'a été trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}{% endblock %}
