{% extends 'accueil/accueil_uti.html.twig' %}

{% block title %}Consultation d'un Cours{% endblock %}

{% block body %}
    <h5>PAGE DE CONSULTATION D'UN COURS</h5>

    <table>
        <tr>
            <td><strong>Id :</strong></td>
            <td>{{ cours.id }}</td>
        </tr>
        <tr>
            <td><strong>Libelle :</strong></td>
            <td>{{ cours.libelle }}</td>
        </tr>
        <tr>
            <td><strong>Age Minimum :</strong></td>
            <td>{{ cours.ageMini }}</td>
        </tr>
        <tr>
            <td><strong>Heure de début :</strong></td>
            <td>{{ cours.heureDebut|date('H:i') }}</td>
        </tr>
        <tr>
            <td><strong>Heure de fin :</strong></td>
            <td>{{ cours.heureFin|date('H:i') }}</td>
        </tr>
        <tr>
            <td><strong>Nom du professeur :</strong></td>
            <td>{{ cours.professeur.nom }}</td>
        </tr>
        <tr>
            <td><strong>Type de cours :</strong></td>
            <td>{{ cours.typeCours.libelle }}</td>
        </tr>
        <tr>
            <td><strong>Type d'instrument :</strong></td>
            <td>{{ cours.typeInstrument.libelle }}</td>
        </tr>
        <tr>
            <td><strong>Jours :</strong></td>
            <td>{{ cours.jour.libelle }}</td>
        </tr>
    </table>
{% endblock %}
