{% extends 'accueil/accueil_admin.html.twig' %}

{% block title %}Liste des Cours{% endblock %}

{% block body %}
<div class="search-container">
	<input type="text" id="search-bar" placeholder="Rechercher un cours" class="search-bar">
</div>
<br>
                    <div class="bouton" style="float:right; margin-right:30px;">
        <a href="{{ path('app_cours_ajouter') }}" class="btn">Ajouter un cours</a>
    </div>
    <br><br><br>
<div class="content">
    <div id="cours-list" class="card-container">
        {% for c in pCours %}
        <a href="{{ path('app_cours_consulter', { 'id': c.id }) }}" class="card-link" data-libelle="{{ c.libelle }}">
            <div class="card">
					<img src="{{ asset('images/' ~ c.cheminImage) }}" alt="Image du cours" class="card-img">
                <h3>{{ c.libelle }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
	{% block javascripts %}
    <script src="{{ asset('script/script.js') }}"></script>
{% endblock %}
</div>
{% endblock %}